
<h1><%- config.name %></h1>
<hr>
<ul>
  <% data.forEach(function(article) { %>
    <li>
      <time datetime="<%- article.created_at %>"><%- article.created_at %>
      <a href="<%- hashLink({id: article.number}) %>"><%- article.title %></a>
    </li>
  <% }) %>
</ul>
<% if (meta.Link) { %>
<hr>
<nav>
  <%
    meta.Link.forEach(function(link) {
    var pageIndex = link[0].match(/[?&]page=(\d+)/)[1]
  %>
  <a href="<%- hashLink({page: pageIndex}) %>" title="<%- link[1].rel %>"><%- link[1].rel %></a>
  <% }) %>
</nav>
<% } %>
