
<h1>fisker's blog</h1>
<ul>
  <% data.forEach(function(article) { %>
    <li>
      #<%= article.number %> :
      <a href="<%- hashLink({id: article.number}) %>"><%- article.title %></a>
      <time datetime="<%- article.created_at %>"><%- article.created_at %>
    </li>
  <% }) %>
  </ul>
  <hr>
  <nav>
  <%
    meta.Link.forEach(function(link) {
    var pageIndex = link[0].match(/[?&]page=(\d+)/)[1]
  %>
  <a href="<%- hashLink({page: pageIndex}) %>" title="<%- link[1].rel %>"><%- link[1].rel %></a>
  <% }) %>
</nav>